body {
    margin: 15px, 15px;
    padding: 10px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    justify-content: space-between;
    padding: 20px;
}

img {
    display: block;
    width: 300px;
    height: 200px;
}

.logo {
   margin-left: 100px;
   max-width: 200%;

}

p {
    text-align: justify;
    /* margin-top: 100px; */
    font-size: 15px;
}

.titulo {
    font-size: 15px;
}


/* css flexbox */

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 15px;
}


footer {
    background: black;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}

.rodapé {
    color: white;
}